html, body {
    padding: 5px;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    box-sizing: border-box;
}
header {
    background-color: skyblue;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}
nav {
    background-color: lightsalmon;
    grid-column: 1 / 2;
    grid-row: 2 / 8;
}
main {
    background-color: lightgray;
    grid-column: 2 / 6;
    grid-row: 2 / 8;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    align-items: center;
    overflow: auto;
}
footer {
    background-color: lightgreen;
    grid-column: 1/6;
    grid-row: 7/8;
}
.section {
    border-radius: 15px;
}
.card {
background-color: white;
height: 200px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

